<!DOCTYPE html>
<html>
<head>
  <title>Creative Science Labs</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href="/assets/sp-style.css" rel="stylesheet" />
  <link href="/assets/bootstrap_and_overrides.css" rel="stylesheet" />
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">

<div class="span6 logo">
  <%= link_to image_tag("csl_logo.png") %>
</div>

<div class="span8">
<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/fame4good/home">Fame 4 Good</a></td>
                </tr>
                <tr>
                  <td><a href="http://csldev.com/mnm/eoy-ex2.html">Malaria No More - New Year's Resolution</a></td>
                </tr>
                <tr>
                  <td><%= link_to 'Malaria No More - Pinterest',  malaria_path %></td>
                </tr>
                <tr>
                  <td><%= link_to 'Symmetry Partners',  symmetry_partners_path %></td>
                </tr>
                <tr>
                  <td><%= link_to 'PPMD',  login_path %></td>
                </tr>
                <tr>
                  <td><%= link_to 'Knight Point',  knightpoint_path %></td>
                </tr>
              </tbody>
</table>
</div>
</div>